:root {
  --primary-color: linear-gradient(90deg, #e0c3fc 0%, #8ec5fc 100%);
}
:root {
  --title-color: #200439;
}
:root {
  --shadow: 5px 5px 5px rgba(14, 16, 77, 0.5);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--primary-color);
  margin: 60px auto;
  max-width: 500px;
}
h1 {
  font-size: 55px;
  margin: 0;
  color: var(--title-color);
}
h3 {
  font-size: 24px;
  opacity: 0.8;
  color: var(--title-color);
}

.greeting {
  margin: 20px auto;
  padding: 20px auto;
  color: var(--title-color);
  text-align: center;
}
.homepageButtons {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: 1;
  margin-top: 40px;
  text-transform: capitalize;
}
.weather-link,
.poem-link {
  display: flex;
  justify-content: center;
  padding: 20px;
  flex: 1;
  margin-top: 40px;
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid rgb(116, 90, 141);
  border-radius: 10px;
  background-color: rgb(183, 141, 222);
  color: #200439;
}
.weather-link:hover {
  text-decoration: underline;
  font-weight: bolder;
}
.poem-link:hover {
  text-decoration: underline;
  font-weight: bolder;
}
.contact {
  border: 1px solid rgb(116, 90, 141);
  padding: 20px;
  background: rgb(116, 90, 141);
  box-shadow: var(--shadow);
  border-radius: 4px;
  margin: 20px;
}

.contact-link {
  color: rgb(208, 201, 205);
  text-decoration: none;
  font-size: 15px;
}

.about {
  border: 1px solid rgb(208, 201, 205);
  padding: 20px;
  background-color: rgb(208, 201, 205);
  box-shadow: var(--shadow);
  border-radius: 4px;
  margin: 20px;
}
.about-link {
  color: rgb(116, 90, 141);
  text-decoration: none;
  font-size: 15px;
}

.homepage-link {
  color: rgb(64, 11, 170);
  display: block;
  text-align: center;
  text-decoration: none;
  margin-top: -20px;
}
p {
  color: var(--title-color);
  background: #d2dcfb;
  padding: 20px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
  margin: 20px;
  text-align: center;
}
.mycontact {
  color: var(--title-color);
}
.email-link {
  color: rgb(47, 21, 72);
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.about-paragraphs {
  display: flex;
  margin: 20px 0;
}
.content {
  text-align: center;
  color: var(--title-color);
}
.aboutme {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .resize {
    max-width: max-content;
  }
}
